//Tech Meta
meta( http-equiv="Content-Type", content="text/html; charset=utf-8" )
meta( http-equiv="X-UA-Compatible", content="IE=7")
meta( name="viewport", content="width=device-width, initial-scale=1.0")

//Basic Meta
title Dribbblike
meta( name="description", content="A Dribbble likes grid viewer ")
meta( name="keywords", content="dribbbble, grid viewer, preview, likes")
	
//Facebook Meta
meta( property="og:title", 		content="Dribbblike" )
meta( property="og:site_name", 	content="Dribbblike" )
meta( property="og:description", content="A Dribbble likes wall viewer " )
meta( property="og:image", content="http://dribbblike.com/fb-img.jpg" )
meta( property="og:url", content="http://dribbblike.com" )
meta( property="og:type", content="website" )